<%= check_for_errors(@users) if @users %>

<% form_for :users do |f| %>
  <p>
   <% if session[:user_id] %>
    Pick a new password for <span> <%= Users.find(:first, :conditions => ['user_id = ?', session[:user_id]]).email %></span>
  <% end %>
  </p>

  <p>
    <label for="password">Password</label><br />
    <%= f.password_field :password %>
  </p>

  <p>
    <label for="password_confirmation">Confirm Password</label><br />
    <%= f.password_field :password_confirmation %>
  </p>


  <p>
    <%= submit_tag 'Reset', { :class => 'button_style'} %>
    <%= link_to 'Changed my Mind', root_url, { :class => 'button_style'} %>
  </p>
<% end %>