<% form_for :users, :url => {:action => 'update'} do |uf| %>

  <% if (@users.blank?) %>
    <% #TODO  Finish this %>
    <p>User not found</p>>

  <% else %>

    <table class=ListComments style="width:100%">
      <tr  >
        <td style="width:5%"> </td>
        <td style="width:15%"> </td>
        <td style="width:15%"> </td>
        <td style="width:15%"> </td>
        <td style="width:10%" ></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%" ></td>
      </tr>


      <tr  >
        <td style="width:5%"></td>
        <td colspan=3  class=PetitionTitle >Update Registered User</td>
        <td style="width:15%"></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%" ></td>
      </tr>

      <tr  >
        <td style="width:5%"></td>
        <td style="width:15%" class=labelred></td>
        <td style="width:15%">  </td>
        <td style="width:15%">  </td>
        <td style="width:10%">  </td>
        <td style="width:10%">  </td>
        <td style="width:10%">  </td>
        <td style="width:10%">  </td>
      </tr>
      <tr  >
        <td style="width:5%"></td>
        <td colspan=3 class=labelred>* The red fields are required. (x) indicates maximum allowed characters.</td>
        <td style="width:10%">  </td>
        <td style="width:10%">  </td>
        <td style="width:10%">  </td>
        <td style="width:10%">  </td>
      </tr>

      <tr  >
        <td style="width:5%"></td>
        <td style="width:15%" class=labelred>user name</td>
        <td colspan=2 class=labelred>&nbsp;</td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
      </tr>

      <tr  >
        <td style="width:5%"></td>
        <td style="width:15%" ><%=  uf.text_field(:username) %></td>
        <td colspan=2>&nbsp;</td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
      </tr>


      <tr  >
        <td style="width:5%"></td>
        <td style="width:15%"></td>
        <td style="width:15%"></td>
        <td style="width:15%"></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
      </tr>


      <tr  >
        <td style="width:5%"></td>
        <td style="width:15%" class=labelred>Password</td>
        <td colspan=2 class=labelred>Re-enter Password</td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
      </tr>


      <tr  >
        <td style="width:5%"></td>
        <td style="width:15%" ><%=  uf.password_field :password %></td>
        <td colspan=2><%=  uf.password_field :password_confirmation %></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
      </tr>

      <tr  >
        <td style="width:5%"></td>
        <td style="width:15%" class=labelred >First Name (15)&nbsp;</td>
        <td style="width:15%" class=labelgreen >MI (1)&nbsp;</td>
        <td style="width:15%"class=labelred >Last Name (15)&nbsp;</td>
        <td style="width:10%" ></td>
        <td style="width:10%"></td>
        <td style="width:10%"> </td>
        <td style="width:10%"></td>
      </tr>

      <tr  >
        <td style="width:5%"></td>
        <td style="width:15%" class=labelgreen ><%=  uf.text_field :first_name, :size=>15 %> </td>
        <td style="width:15%" class=labelgreen ><%=  uf.text_field :mi, :size=>1 %> </td>
        <td style="width:15%"class=labelgreen ><%=  uf.text_field :last_name, :size=>15 %> </td>
        <td style="width:10%"> </td>
        <td style="width:10%"></td>
        <td style="width:10%"> </td>
        <td style="width:10%"></td>
      </tr>

      <tr  >
        <td style="width:5%"> </td>
        <td style="width:15%"> </td>
        <td style="width:15%"> </td>
        <td style="width:15%"> </td>
        <td style="width:10%" ></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%" ></td>
      </tr>

      <tr  >
        <td style="width:5%"> </td>
        <td colspan=2 class=labelred >email address (50)</td>
        <td style="width:15%"> </td>
        <td style="width:10%" ></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%" ></td>
      </tr>


      <tr  >
        <td style="width:5%"> </td>
        <td colspan=2 class=labelgreen><%=  uf.text_field :email,:size=>50 %>   </td>
        <td style="width:15%">  </td>
        <td style="width:10%" ></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%" ></td>
      </tr>


      <tr  >
        <td style="width:5%"> </td>
        <td style="width:15%"> </td>
        <td style="width:15%"> </td>
        <td style="width:15%"> </td>
        <td style="width:10%" ></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%" ></td>
      </tr>

      <tr  >
        <td style="width:5%" ></td>

        <td style="width:15%" align=left><%= submit_tag  "Submit Updates" , {:class=>"button_style"} %></td>
        <td colspan=2 align=left><%= link_to  "Changed My Mind", root_url, {:class=>"button_style"}  %></td>
        <td style="width:15%">&nbsp; </td>
        <td style="width:15%">&nbsp;</td>
        <td style="width:10%">&nbsp;</td>
        <td style="width:10%" >&nbsp;</td>
        <td style="width:10%" >&nbsp;</td>
      </tr>

      <tr  >
        <td style="width:5%"> </td>
        <td style="width:15%"> </td>
        <td style="width:15%"> </td>
        <td style="width:15%"> </td>
        <td style="width:10%" ></td>
        <td style="width:10%"></td>
        <td style="width:10%"></td>
        <td style="width:10%" ></td>
      </tr>

    </table>
  <% end %>
<% end %>
