<form>
<% if flash[:notice] %>
<% @formattedflash = flash[:notice] if flash[:notice] %>
<font class="flashnotice" ><%= @formattedflash %></font>
<% end  %>

<% petition_title_short = CollaboratorMethods.collaborator_value[:collaborator][:petition_title_short] %>
  <table class=ListComments >
    <tr>
      <td style="width:3%">&nbsp;</td>
      <td style="width:80%" class=PetitionTitle>Welcome to the Petition to ....</td>
      <td style="width:17%">&nbsp;</td>
    </tr>

    <tr>
      <td style="width:3%">&nbsp;</td>
      <td style="width:80%">
        <ul class="one_listing" >
          <li class=label1 ><%= petition_title_short %></li>
          <li class=label1 >General site use instructions.</li> 
          <ul>
            <li class=tier1>The Petition Options</li>
            <ul>
              <% if (Signatures.count  > 0) %>
                <li class=tier2><%= link_to 'View All Signatures',  show_refresh_url %></li>
              <%  else %>
                <li class=tier2>View All Signatures</li>
              <%  end %>
              <ul class="one_listing">
                <li class=tier3>Provides the text of the petition, an opportunity to sign it, and a listing of current signatures.</li>
              </ul>
            </ul>
            <ul>
              <li class=tier2><%= link_to "Sign the Petition", signatures_new_url %></li>
              <ul class="one_listing">
                <li class=tier3>Provide your name, if you want it displayed within the 'View All Signatures' listing, check 'Display Name?'.</li>
                <li class=tier3>Provide your 'Year of Birth', asked only to distinguish you from family members or people of the same name.</li>
                <li class=tier3>Provide your perspective, which should be relevant to your motivation in signing the petition. If you provide a perspective, your email address is required; comments are subject to approval.</li>
              </ul>

            </ul>

            <li class=tier1>'Share Your Perspective' Options</li>

            <ul>
              <li class=tier2 ><%= link_to "Add Your Perspective", perspectives_new_url  %></li>
              <ul>
                <li class=tier3>An opportunity to share your perspective or life experience regarding <%= petition_title_short %>.  Content will be reviewed before site posting.</li>
              </ul>
            </ul>


            <ul>

              <%= view_all_perspectives %>

              <ul>
                <li class=tier3>A listing of all approved Perspective comments with an opportunity to email the person that offered a comment.  Sorry but this site will not maintain threads on comments.</li>
              </ul>

            </ul>

            <li class=tier1><%= link_to "'Offer Your Link' Option", linkrequest_new_url  %></li>
            <ul>
              <li class=tier2 >In the interest of more complete information and fairness, offer your link information here and then, if approved, it will be displayed on this site.
              </li>
            </ul>

          </ul>

          <li class="tier1">Content and Punctuation</li>
          <ul>
            <li class="tier2" >Matter #1</li>
            <li class="tier2" >Matter #2</li>
            <li class="tier2" >Matter #3</li>
            <li class="tier2" >Matter #4</li>
          </ul>

        </ul>

        <ul>
          <li class=label1 >If you do not wish to sign this petition, ....</li>
          <li class=label1>Otherwise, have a wonderful day! And I thank you very much.</li>
        </ul>
      </td>
      <td style="width:17%">&nbsp;</td>
    </tr>
  </table>
</form>

