<form>
<table class="" style="width:100%" >

<tr valign="top">
<td style="width:2%"  >&nbsp;</td>
<td style="width:10%" >&nbsp;</td>
<td style="width:15%" >&nbsp;</td>
<td style="width:35%" >&nbsp;</td>
<td style="width:20%" >&nbsp;</td>
</tr>


<tr valign="top">
<td style="width:2%"  >&nbsp;</td>
<td colspan=2 class=PetitionTitle>Delete Perspective</td>
<td style="width:35%" >&nbsp;</td>
<td style="width:20%" >&nbsp;</td>
</tr>

<tr valign="top">
<td style="width:2%"  >&nbsp;</td>
<td style="width:10%" >&nbsp;</td>
<td style="width:15%" >&nbsp;</td>
<td style="width:35%" >&nbsp;</td>
<td style="width:20%" >&nbsp;</td>
</tr>

<tr valign="top">
<td style="width:2%"  >&nbsp;</td>
<td style="width:10%" >&nbsp;</td>
<td style="width:15%" >&nbsp;</td>
<td style="width:35%" >&nbsp;</td>
<td style="width:20%" >&nbsp;</td>
</tr>



<tr  >
<td style="width:2%"   >&nbsp;</td>
<td style="width:10%" class=label1 >Alias:</td>
<td style="width:15%" class=label1 >Email:</td>
<td style="width:35%"  ></td>
<td style="width:20%"  ></td>
</tr>

<tr>
<td style="width:2%"   >&nbsp;</td>
<td style="width:10%"  ><%=  @perspectives.alias %></td>
<td style="width:15%"  ><%=  @perspectives.email %></td>
<td style="width:35%"  ></td>
<td style="width:20%"  ></td>
</tr>

<tr>
<td style="width:2%"   >&nbsp;</td>
<td style="width:10%"  ></td>
<td style="width:15%"  ></td>
<td style="width:35%"  ></td>
<td style="width:20%"  ></td>
</tr>

<tr>
<td style="width:2%"   >&nbsp;</td>
<td style="width:10%" class=label1  >Comments:</td>
<td style="width:15%"  ></td>
<td style="width:35%"  ></td>
<td style="width:20%"  ></td>
</tr>

<tr>
<td style="width:2%"   >&nbsp;</td>
<td style="width:10%" colspan=3 rowspan=4 valign=top><%=  @perspectives.comments %></td>
<td style="width:20%"  ></td>
</tr>

<tr>
<td style="width:2%"   >&nbsp;</td>
<td style="width:20%"  ></td>
</tr>

<tr>
<td style="width:2%"   >&nbsp;</td>
<td style="width:20%"  ></td>
</tr>

<tr>
<td style="width:2%"   >&nbsp;</td>
<td style="width:20%"  ></td>
</tr>

<tr>
<td style="width:2%"   >&nbsp;</td>
<td style="width:10%"  ></td>
<td style="width:15%"  ></td>
<td style="width:35%"  ></td>
<td style="width:20%"  ></td>
</tr>

<tr>
<td style="width:2%"   >&nbsp;</td>
<td colspan=2 >
<%= link_to "Delete", perspectives_destroy_url(@perspectives.id),  {:class => "button_style"} %>
</td>
<td colspan=2  ><%= link_to "email For Approval", {perspectives_accept_url(@perspectives.uuid) , {:class=>"button_style" } %></td>
</tr>

<tr>
<td style="width:2%"   >&nbsp;</td>
<td colspan=3 class=PetitionTitle valign=center align=center >&nbsp;&nbsp;&nbsp;Please click the above options only once.</td>
<td style="width:20%"  ></td>
</tr>

<tr>
<td style="width:2%"   >&nbsp;</td>
<td style="width:10%"  >&nbsp;</td>
<td style="width:15%"  ></td>
<td style="width:35%"  ></td>
<td style="width:20%"  ></td>
</tr>
</table>

</form>